header {
text-align: center
}

.background {
color: white;
}

body1 {
text-align: center;
color: cyan;
text-decoration: strong
}

body2 {
text-align: center;
color: hotpink;  
text-decoration: strong
}
